{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block main %}
    <div class="container pb-5 pt-5">
        <div class="row">
            {% for movie in movies %}
                {{ component('card', {
                    id: movie.id,
                    title: movie.title,
                    releaseDate: movie.releaseDate,
                    posterPath: movie.posterPath,
                    pathName: movie.pathName,
                    type: movie.type
                }) }}
            {% endfor %}
        </div>
    </div>

    <div class="bottom-buttons">
        <a href="{{ path('app_movie_index', {page: currentPage - 1}) }}" class="previous round">&#8249;</a>
        <a href="{{ path('app_movie_index', {page: currentPage + 1}) }}" class="next round">&#8250;</a>
    </div>
{% endblock %}
