{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block main %}
    <div class="container pb-5 pt-5">
        <div class="row">
            {% for movie in movies %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card text-center">
                        <img class="card-img-top" src="{{ movie.poster_path }}" alt="{{ movie.title }}">
                        <div class="card-body">
                            <p class="card-title h5">{{ movie.title }}</p>
                            <p class="card-text">{{ movie.release_date }}</p>
                            <a href="#" class="stretched-link"
                               title="Cliquez pour voir les informations détaillées"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
