{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block main %}
    <h1>Movie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release date</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.release_date }}</td>
                <td><a href="{{ movie.poster_path }}" target="_blanck">{{ movie.poster_path }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
