.image-rognage {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.image-rognage img{
    width: 100%;
}

.box-min-height {
    min-height: 220px;
}

.justify {
    text-align: justify;
}