{% extends 'base.html.twig' %}

{% block title %}Watchlist{% endblock %}

{% block main %}
    <div id="response-div" class="container my-5">
        <div class="row mt-2 ">


            <div class="col-12">
                {% for watchlistItem in watchlistItems %}
                    {{ component('watchlist-card', {
                        id: watchlistItem.id,
                        idTMDB: watchlistItem.idTMDB,
                        title: watchlistItem.title,
                        posterPath: watchlistItem.posterPath,
                        pathName: watchlistItem.pathName,
                        type: watchlistItem.type,
                        status: watchlistItem.status
                    }) }}
                {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}
