{% extends 'base.html.twig' %}

{% block title %}Watchlist{% endblock %}

{% block main %}
    <div class="container">
        <div class="row mt-2 ">
            <div class="col-2 watchlist-sidebar-container">
                dgdgfsfdgsfdgfsdg
            </div>

            <div class="col-10 watchlist-item-list">
                {% for watchlistItem in watchlistItems %}
                    {{ component('watchlist-card', {
                        id: watchlistItem.id,
                        idTMDB: watchlistItem.idTMDB,
                        title: watchlistItem.title,
                        posterPath: watchlistItem.posterPath,
                        pathName: watchlistItem.pathName,
                        type: watchlistItem.type
                    }) }}
                {% endfor %}

                {{ component('watchlist-card',{
                    id: 1,
                    title: 'One title',
                    posterPath: 'null',
                    pathName: 'app_serie_index',
                    type: 'one type'
                }) }}

            </div>
        </div>

    </div>
{% endblock %}
