{% extends 'base.html.twig' %}

{% block title %}New Saga{% endblock %}

{% block body %}
    <h1>Create new Saga</h1>

    {{ include('saga/_form.html.twig') }}

    <a href="{{ path('app_saga_index') }}">back to list</a>
{% endblock %}
