<div class="col-2 mx-2">
    <div class="card text-center">
        <a href="{{ path(this.pathName, {id: this.id}) }}" title="Cliquez pour voir les informations détaillées">
            <img class="card-img-top" src="{{ this.posterPath }}" alt="{{ this.title }}">
        </a>
        <div class="card-body">
            <p class="card-title h5 text-truncate">{{ this.title }}</p>
        </div>
    </div>
</div>