{% extends 'base.html.twig' %}

{% block title %}Catalog{% endblock %}

{% block main %}
    <div class="container pb-5 pt-5">
        <div class="row">
            {% for card in catalog %}
                {{ component('card', {
                    id: card.id,
                    title: card.title,
                    posterPath: card.posterPath,
                    pathName: card.pathName,
                    type: card.type
                }) }}
            {% endfor %}
        </div>
    </div>

    <div class="bottom-buttons">
        <a href="{{ path('app_catalog_index', {page: currentPage - 1}) }}" class="previous round">&#8249;</a>
        <a href="{{ path('app_catalog_index', {page: currentPage + 1}) }}" class="next round">&#8250;</a>
    </div>
{% endblock %}
